[Unit]
Description=RNBO to Serial Bridge Watchdog
After=network.target

[Service]
# Adjust these paths to your actual setup
ExecStart=/home/pi/sousaFX-rpi-scripts/oscserial
WorkingDirectory=/home/pi/sousaFX-rpi-scripts/
StandardOutput=inherit
StandardError=inherit
Restart=always
RestartSec=5
User=root
# Grant permission to access serial ports
SupplementaryGroups=dialout

[Install]
WantedBy=multi-user.target
